<form action='/create_new' method='POST'>
  <% if signed_in? %>
  Create a New Meet!
  <ul>Name: <input type='Text' name="name" size=''
    placeholder='Name of Meetup'></ul>

    <ul>Description: <input type='Text' name="description" size=''
      placeholder='Description of Meetup'></ul>

      <ul>Location: <input type='Text' name="location" size=''
        placeholder='Location of Meetup'></ul>
        <ul><button type='submit'>Submit New Meetup </button></ul>
      </form>

      <% else %>
    <h2>  You must Sign in to create a new meetup! </h2>
      <% end %>
